@charset "UTF-8";
.footer-nav-item:after {
  content: "•";
  display: inline-block;
  margin-left: 0.5rem; }

.footer-nav-item:last-child:after {
  content: none; }

.nav-item:hover {
  text-decoration: none !important; }

.nav-img {
  border-radius: 1rem;
  margin-bottom: 4px;
  margin-left: 5rem;
  box-sizing: 56px; }
