@charset "UTF-8";

@media only screen and (min-width: 360px) {
  .nav-pic {
    margin-top: 1px !important;
  }
}

.footer-nav-item:after {
  content: "•";
  display: inline-block;
  margin-left: 0.5rem;
}

.footer-nav-item:last-child:after {
  content: none;
}

.nav-item:hover {
  text-decoration: none !important;
}

.nav-pic {
  margin-top: 7px !important;
}

.nav-pic-dummy {
  display: none !important;
  margin-top: 20px !important;
  margin-left: 2rem !important;
  padding-left: 5rem !important;
}
